/*Regole Header*/

header{
    /*DEBUG*/
    height:100px;
    background-color: grey;
}

/*Regole Main*/

.container{
    width:70%;
    margin:0 auto;

    /*DEBUG*/
    height:1000px;
    background-color: lightgreen;
}

.header-ricetta{
    display:flex;

    /*DEBUG*/
    height:200px;
    background-color: yellow;
}

.imm-ricetta{
    width:70%;

    /*DEBUG*/
    height:100px;
    background-color: green;
}

.info-ricetta{
    width:30%;

    /*DEBUG*/
    height:100px;
    background-color: darkgreen;
}

.social{
    display:flex;
    gap:5px;
}

.social li{
    width:20%;

    /*DEBUG*/
    background-color: lightblue;
    border: 1px solid black;
}

.banner{

    /*DEBUG*/
    height:100px;
    background-color: orange;
}

.presentazione .immagine{
   
    height:200px;
    
}

.immagine img{
    max-height:100%;
}

.float{
    float:left;
}

/*Regole Footer*/

footer{
    color:white;
    display:flex;
    justify-content:space-between;

    /*DEBUG*/
    height:100px;
    background-color: black;
}

.footer-sx{
    /*DEBUG*/
    background-color: goldenrod;
}

.footer-dx{
    /*DEBUG*/
    background-color: rgb(115, 255, 0);
}


/*Regole Responsive*/

@media screen and (max-width:1020px){

    /*Sezione header-ricetta*/

    .header-ricetta{
        display:block;
    }

    .imm-ricetta,
    .info-ricetta{
        width:100%;
    }

   /*Sezione Social*/

    .social li span{
        display:none;
    }

}

@media screen and (max-width:640px){

    /*sezione social*/

    .social{
        gap:3rem;
        background-color: blueviolet;
    }

    .banner{
        display:none;
    }
    
    /*sezione presentazione*/

    .float{
        float:none;
    }

    .presentazione .immagine{
   
        text-align:center;
    }
}